.jssorb03 {
    position: absolute;
}

.jssorb03 div,
.jssorb03 div:hover,
.jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    /*background: url('img/b03.png') no-repeat;*/
    overflow: hidden;
    cursor: pointer;
}

.jssorb03 div {
    background-position: -5px -4px;
}

.jssorb03 div:hover,
.jssorb03 .av:hover {
    background-position: -35px -4px;
}

.jssorb03 .av {
    background-position: -65px -4px;
}

.jssorb03 .dn,
.jssorb03 .dn:hover {
    background-position: -95px -4px;
}

.jssora03l,
.jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    overflow: hidden;
}

.jssora03l {
    background-position: -3px -33px;
}

.jssora03r {
    background-position: -63px -33px;
}

.jssora03l:hover {
    background-position: -123px -33px;
}

.jssora03r:hover {
    background-position: -183px -33px;
}

.jssora03l.jssora03ldn {
    background-position: -243px -33px;
}

.jssora03r.jssora03rdn {
    background-position: -303px -33px;
}

.jssora03l.jssora03lds {
    background-position: -3px -33px;
    opacity: .3;
    pointer-events: none;
}

.jssora03r.jssora03rds {
    background-position: -63px -33px;
    opacity: .3;
    pointer-events: none;
}
